<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>Error</title>

</head>
<body>
	<div class="container text-dark" style="height:100vh; display: flex; align-items: center">
		<div class="m-auto text-center">
			<h1 class="text-danger">Something went wrong..!</h1>
			<br>
			<a href="/" class="btn btn-success py-3 px-5">Go Home</a>
		</div>
	</div>	
</body>
</html>