<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	<title>Home</title>
	
	<style type="text/css">
		#bgimg {
			height: 100vh;
			width: 100%;
			object-fit: cover;
			z-index: -1;
			position: fixed;
			opacity: 0.8;
		}
	</style>
	
</head>
<body>

	<img id="bgimg" alt="" th:src="@{/images/background.jpg}">
	
	<span th:replace="master :: header"></span>

	<div class="container text-light text-center" style="height:100vh; display: flex; align-items: center">
		<div class="m-auto">
			<h1>Find Your Dream Job</h1>
		</div>
	</div>
	
	<div class="text-center bg-white" style="height:95vh; display: flex; align-items: center">
		<div style="margin: auto">
			<h1>Our Partners</h1>
			<hr>
			<img alt="" th:src="@{/images/companies.webp}">
			<h5 class="lead">"Get the Job you've always dreamed about."</h5>
		</div>
	</div>

	<span th:replace="master :: footer"></span>
	
</body>
</html>