<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="index" class="navbar navbar-expand-lg navbar-dark bg-dark text-light fixed-top">
	<a class="navbar-brand display-1">Online Job Placement</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon text-secondary"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active"><a class="nav-link text-light" href="/">Home</a></li>
			<li class="nav-item active"><a class="nav-link text-light" href="/login" th:unless="${#authorization.expression('isAuthenticated()')}">Login</a></li>
			<li class="nav-item active"><a class="nav-link text-light" href="/register" th:unless="${#authorization.expression('isAuthenticated()')}">Sign Up</a></li>
			<li class="nav-item active"><a class="nav-link text-light" href="/user/account" th:if="${#authorization.expression('isAuthenticated()')}">Account</a></li>			
			<li class="nav-item active"><a class="nav-link text-light" href="/admin/partnership" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">Partnerships</a></li>
			<li class="nav-item active"><a class="nav-link text-light" href="/admin/listUsers" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">User List</a></li>
			<li class="nav-item active"><a class="nav-link text-light" href="/admin/listJobs" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">Jobs List</a></li>
			<li class="nav-item active"><a class="nav-link text-light" href="/recruiter/addJobs" th:if="${#authorization.expression('hasAuthority(''RECRUITER'')')}">Add Jobs</a></li>
			<li class="nav-item active"><a class="nav-link text-light" href="/recruiter/getJobsList" th:if="${#authorization.expression('hasAuthority(''RECRUITER'')')}">View Jobs</a></li>
			<li class="nav-item active"><a class="nav-link text-light" href="/logout" th:if="${#authorization.expression('isAuthenticated()')}">Logout</a></li>
	   </ul>
	</div>
</header>

<footer class="bg-dark text-light" style="height: 10vh; display: flex; align-items: center">
	
	<h5 style="margin: auto">&copy; Copyright 2020 Online Job Placement - All Rights Reserved.</h5>
	
</footer>
</body>
</html>