<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	<title>Job Seekers</title>
	
</head>
<body>
	
	<span th:replace="master :: header"></span>

	<div class="container text-dark text-center vh-100 p-3">
	<br><br><br>
	<h2>People Who Applied for this Job.</h2>
	<div class="row alert alert-success">
		<span class="col">
			<small>Designation</small>
			<p th:text="${job?.jobPost}"></p>
		</span>
		<span class="col">
			<small>Technology</small>
			<p th:text="${job?.tech}"></p>
		</span>
	</div>
		<table class="table bg-white table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Resume</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
			
			<tr th:each="user : ${users}">
				<td th:text="${user.user.username}"></td>
				<td th:text="${user.user.email}"></td>
				<td><a th:href="${user.user.resume}" th:text="${user.user.resume}"></a></td>
				<td th:text="${user.jobStatus}"></td>
				<td>
					<a th:href="@{/recruiter/job/} + ${job.jobId} + @{/user(userId=${user.user.id},statusId=1)}"><i class="fa fa-check fa-lg" style="color:green"></i></a>
					&nbsp;
					<a th:href="@{/recruiter/job/} + ${job.jobId} + @{/user(userId=${user.user.id},statusId=0)}"><i class="fa fa-times fa-lg" style="color:red"></i></a>
				</td>
			</tr>
		</thead>
		
		</table>
	</div>

	<span th:replace="master :: footer"></span>
	
</body>
</html>