<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	<title>My Account</title>
	
</head>
<body>
	
	<span th:replace="master :: header"></span>
	<br>
	<div class="container text-dark" style="height:100vh; display: flex; align-items: center">
		<div class="m-auto bg-white card py-3 px-4 rounded">
			
			<span class="mb-3">
				<small>User Name</small>
				<h5 th:text="${user.username}"></h5>
			</span>
			<span class="mb-3">
				<small>Email Id</small>
				<h5 th:text="${user.email}"></h5>
			</span>
			<span class="mb-3">
				<small>Resume</small> <i class="fa fa-pencil" title="Edit" onclick="document.getElementById('resumeForm').style.display='block';"></i>
				<h5><a th:href="${user.resume}" th:text="${user.resume}" target="_BLANK"></a></h5>
			</span>
			<form id="resumeForm" class="mb-3" method="post" th:action="@{/user/account/update/resume}">
				<input type="url" name="resume" class="form-control">
				<input type="submit" value="Update" class="btn btn-primary mt-2">
			</form>
			<script type="text/javascript">
			document.getElementById('resumeForm').style.display='none';
			</script>
			
			
			<span th:if="${user.recruitmentApplication?.companyName}" class="mb-3">
				<small>Company Name</small>
				<h5 th:text="${user.recruitmentApplication?.companyName}"></h5>
			</span>
			<span th:if="${user.recruitmentApplication?.website}" class="mb-3">
				<small>Company Website</small>
				<h5><a th:href="${user.recruitmentApplication?.website}" th:text="${user.recruitmentApplication?.website}" target="_BLANK"></a></h5>
			</span>
			<span th:if="${user.recruitmentApplication?.address}" class="mb-3">
				<small>Company Address</small>
				<h5 th:text="${user.recruitmentApplication?.address}"></h5>
			</span>
			<span th:if="${user.recruitmentApplication?.status}" class="mb-3">
				<small>Partnership Status</small>
				<h5 th:text="${user.recruitmentApplication?.status}"></h5>
			</span>
		</div>		
	</div>

	<span th:replace="master :: footer"></span>
	
</body>
</html>